DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/cube_desk
SQLALCHEMY_ECHO=False

SALT=test-salt

# Comma-separated list of origins. If empty, CORS middleware is not enabled.
CORS_ALLOW_ORIGINS=["http://localhost:3000"]